<!-- <header>
  <div class="navigation">
    <button class="back-btn"
            md-button
            (click)="goBack($event)">
              <md-icon>arrow_back
              </md-icon>
    </button>
    <button class="menu-btn"
            md-button
            (click)="showSidebar($event)">
              <md-icon>more_vert
              </md-icon>
    </button>
    <button class="start-btn"
            md-button
            routerLink="/game"
            routerLinkActive="active">
              <md-icon>play_circle_outline</md-icon>
              <strong> Go</strong>
    </button>
  </div>
  <div class="user-set">
    <button md-button>
      <md-icon>home</md-icon>
    </button>
  </div>
</header> -->
<app-header></app-header>


  <div class ="sidenav"

       [ngClass]="{showleft: sidebarEnable}">
    <div class="new-catalog-side">
      <md-input-container>
        <input type="text"
               #nameCatalog
               md-input placeholder="Новый каталог">
      </md-input-container>
        <a href="javascript: void(0)"
           (click)="addCatalog(nameCatalog.value);
           nameCatalog.value=''"
           [class.hide]="nameCatalog.value == ''">
           <md-icon>note_add
            </md-icon>
        </a>
    </div>
    <div class="catalogs-list"
         *ngIf="sidebarEnable">
      <ul>
        <li *ngFor="let catalog of catalogs"
            class="word-cell"
            (click)="setCatalog(catalog)"
            [class.selected]="catalog == catalogs[selectIndex-1]">
          {{ catalog.name }}
        </li>
      </ul>
    </div>
  </div>

<div class="wrapper">
  <div md-content class="md-padding">
    <md-tab-group [selectedIndex]="selectIndex"
      (selectChange)="selectIndex = $event.index"
      class="tab-list"
      md-border-bottom>
      <md-tab label="select all">
        <div *ngIf="loading" class="loading"> <div class="icon"></div></div>
        <div class="demo-tab tab{{$index%4}}"
             style="padding: 25px;
                    text-align: center;">

          <div *ngFor="let catalog of catalogs">
              <div *ngFor="let word of catalog.list" class="word-row row">
                <div class="col-xs-4">
                  <span>{{ word.un }}</span>
                </div>
                <div class="col-xs-4 word-cell">
                  <span>{{ word.ru }}</span>
                </div>
                <div class="col-xs-4 word-cell">
                  <label class="action-icon"
                         for="modal-1"
                         (click)="openDialog(word)">
                           <md-icon>edit
                           </md-icon>
                  </label>
                  <label class="action-icon"
                     (click)="deleteWord(word);"
                     *ngIf="catalog && (catalog.id !== -1)">
                       <md-icon>delete
                       </md-icon>
                  </label>
                </div>
              </div>
            </div>
          <br/>
        </div>
      </md-tab>



      <md-tab *ngFor="let catalog of catalogs"
              label="{{catalog.name}}">
          <div class="catalog-header">
            <h3><strong>{{ catalog.name }}</strong></h3>
          </div>
          <button md-button
                 class="action-icon"
                 (click)="openCatalogDialog(catalog)">
                 <md-icon>description</md-icon>
                 <span> Редактировать список</span>
          </button>
          <div class="demo-tab tab{{$index%4}}" style="padding: 25px; text-align: center;">
            <div class="create-word-group row"
                 *ngIf="catalog && (catalog.id !== -1)">
              <md-input-container class="col-xs-4 word-cell">
                <input md-input
                       type="text"
                       #wordEn
                       placeholder="En">
              </md-input-container>
              <md-input-container class="col-xs-4 word-cell">
                <input md-input
                       type="text"
                       #wordRu
                       placeholder="Ru">
              </md-input-container>
              <button md-mini-fab color="primary"
                      class="col-xs-4 word-cell"
                      style="margin-left: 15px;"
                      (click)="addWord(wordEn.value,wordRu.value,catalog.id);
                      wordEn.value='';
                      wordRu.value=''">
                 <md-icon>add
                 </md-icon>
              </button>
            </div>
            <div>
              <div *ngFor="let word of catalog.list" class="word-row row">
                <div class="col-xs-4 word-cell">
                  <span>{{ word.un }}</span>
                </div>
                <div class="col-xs-4 word-cell">
                  <span>{{ word.ru }}</span>
                </div>
                <div class="col-xs-4">
                  <label class="action-icon"
                         for="modal-1"
                         (click)="openDialog(word)">
                           <md-icon for="modal-1">edit
                           </md-icon>
                  </label>
                  <label class="action-icon"
                     (click)="deleteWord(word);"
                     *ngIf="catalog && (catalog.id !== -1)">
                       <md-icon>delete
                       </md-icon>
                  </label>
                </div>
              </div>
            </div>
            <br/>
          </div>
      </md-tab>
    </md-tab-group>
  </div>
</div>






<!-- Модальное окно -->
<div class="modal" id="modal-1">
  <input class="modal-open" id="modal-1" type="checkbox" hidden>
  <div class="modal-wrap" aria-hidden="true" role="dialog">
    <label class="modal-overlay" for="modal-1"></label>
    <!-- for catalog -->
    <div class="modal-dialog" *ngIf="editCatalog">
      <div class="modal-header">
        <h2>Редактирование каталога </h2>
        <label class="btn-close" for="modal-1" aria-hidden="true">×</label>
      </div>
      <div class="modal-body"
           *ngIf="editCatalog">
        <p>
          <input type="text"
                 placeholder="name"
                 [(ngModel)]="editCatalog.name">
        </p>

      </div>
      <div class="modal-footer">
        <label class="btn btn-primary"
               for="modal-1"
               (click)="updateCatalog(enableCatalog, editCatalog)">Сохранить
        </label>
      </div>
    </div>
     <!-- for word -->
    <div class="modal-dialog" *ngIf="editWord">
      <div class="modal-header">
        <h2>Редактирование слова</h2>
        <label class="btn-close" for="modal-1" aria-hidden="true">×</label>
      </div>
      <div class="modal-body"
           *ngIf="editWord">
        <p>
          <input type="text"
                 placeholder="en"
                 [(ngModel)]="editWord.un">
        </p>
        <p>
          <input type="text"
                 placeholder="en"
                 [(ngModel)]="editWord.ru">
        </p>
      </div>
      <div class="modal-footer">
        <label class="btn btn-primary"
               for="modal-1"
               (click)="updateWord(editWord)">Сохранить
        </label>
      </div>
    </div>

  </div>
</div>
<!-- Модальное окно(end) -->
