$general-color: #0003FF;

body {
  background: #cecece;
}

.catalog-header {
  background: #0003FF;
  color: #fff;
  display: flex;
  justify-content: center;
}

md-tab-header {
  display: none !important;
}

.selected {
  color: #0003FF;
}
.catalog-name {
  cursor: pointer;
}

.word-row {
  -webkit-transition-duration: .2s;
  transition-duration: .2s;

  &:hover{
    -webkit-transition-duration: .2s;
    background: #E8ECFF;
    transition-duration: .2s;
  }
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  cursor: pointer;
}

.tab-list {
  //margin: 0 20% 0 20%;
  //position: fixed;
  //top: 40px;
  margin-left: 240px;
  position: relative;
  background: #fff;
}

.catalogs-list {
  li {
    width: 165px;
  }
}

header {
  //background: #cecece;
  background: $general-color;
  height: 40px;
  position: fixed;
  min-width: 100%;
  z-index: 3;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14),
              0px 0px 2px 2px rgba(0, 0, 0, 0.098),
              0px 0px 5px 1px rgba(0, 0, 0, 0.084);
  button {
    color: #fff;
  }
}


.start-btn {
  color: #fff;
  font-size: 24px
}

.back-btn {
  min-width: 55px;
}

.menu-btn {
  width: 55px;
  min-width: 55px;
  display: none;
}

.user-set {
  font-size: 24px;
  display: inline-flex;
  float: right;
}

.navigation {
  display: inline-flex;
  float: left;
  margin: 0 0 0 5px;
}

.card-list {
    // padding: 10 auto;
    // margin: 10 auto;
    // background: #cecece;
    bottom: 0;
    overflow-y: scroll;
    height: 50vh;
}


.action-icon {
  -webkit-transition-duration: .5s;
  cursor: pointer;

  transition-duration: .5s;
  color: #a5a5a5;
  md-icon {
    font-size: 18px;
    margin-top: 3px;
  }

  &:hover {
    color: #0703F7;
  }
}

.loading {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  .icon {
    background-image: url('/assets/img/marg.jpg');
    background-size: contain;
    width: 70px;
    height: 70px;



    -webkit-animation-name: spin;
    -webkit-animation-duration: 1800ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 1800ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 1800ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 1800ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(360deg); }
    to { -ms-transform: rotate(0deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(360deg); }
    to { -moz-transform: rotate(0deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(360deg); }
    to { -webkit-transform: rotate(0deg); }
}
@keyframes spin {
    from {
        transform:rotate(360deg);
    }
    to {
        transform:rotate(0deg);
    }
}

.sidenav {
  //background: #cecece;
  background: #e6e6e6;
  display: flex;
  flex-direction: column;
  height: 100%;
  //justify-content: center;
  position: fixed;
  top: 40px;
  width: 239px;
  z-index: 3;
  align-items: center;
}

.new-catalog-side {
  margin-top: 5px;
}

.wrapper {
  top: 40px;
  position: relative;
  margin: 15px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  margin: 0;
}



/* Стили модального окна */
.modal-header h2 {
    color: #555;
    font-size: 20px;
    font-weight: normal;
    line-height: 1;
    margin: 0;
}
/* кнопка закрытия окна */
.modal .btn-close {
    color: #aaa;
    cursor: pointer;
    font-size: 30px;
    text-decoration: none;
    position: absolute;
    right: 5px;
    top: 0;
}
.modal .btn-close:hover {
    color: red;
}
/* слой затемнения */
.modal-wrap:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
}
.modal-overlay {
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 102;
}
/* активация слоя затемнения и модального блока */
.modal-open:checked ~ .modal-wrap:before,
.modal-open:checked ~ .modal-wrap .modal-overlay {
    display: block;
}
.modal-open:checked ~ .modal-wrap .modal-dialog {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 20%;
}
/* элементы модального окна */
.modal-dialog {
    background: #fefefe;
    border: none;
    border-radius: 5px;
    position: fixed;
    width: 80%;
    max-width: 500px;
    left: 50%;
    top: -100%;
    -webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -webkit-transform: translate(-50%, -500%);
    -ms-transform: translate(-50%, -500%);
    -o-transform: translate(-50%, -500%);
    transform: translate(-50%, -500%);
    -webkit-transition: -webkit-transform 0.4s ease-out;
    -moz-transition: -moz-transform 0.4s ease-out;
    -o-transition: -o-transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    z-index: 103;
}
.modal-body {
  padding: 20px;
}
.modal-body p {
    margin: 0;
}
.modal-header,
.modal-footer {
    padding: 20px 20px;
}
.modal-header {
    border-bottom: #eaeaea solid 1px;
}
.modal-header h2 {
    font-size: 20px;
    margin: 0;
}
.modal-footer {
    border-top: #eaeaea solid 1px;
    text-align: right;
}
/* адаптивные картинки в модальном блоке */
.modal-body img {
    max-width: 100%;
    height: auto;
}
/* кнопки */
.btn {
    background: #fff;
    border: #555 solid 1px;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    padding: 3px 6px;
    text-decoration: none;
    text-align: center;
    min-width: 20px;
    position: relative;
}
.btn:hover, .btn:focus {
    background: #f2f2f2;
}
.btn-primary {
    background: #428bca;
    border-color: #357ebd;
    color: #fff;
}
.btn-primary:hover{
    background: #66A1D3;
}

@media screen and (max-device-width: 650px) {
  .sidenav {
    width: 0;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
  }

  .tab-list {
    margin-left: 5px;
    background: #fff;
  }

  .create-word-group {
    input {
      margin-bottom: 2px;
    }
  }

  .menu-btn {
    display: block;
  }

  .showleft {
    width: 239px;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
  }
}

.word-cell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

