<header>
  <div class="navigation">
    <button class="back-btn"
            md-button
            (click)="goBack($event)">
              <md-icon>arrow_back
              </md-icon>
            <!-- <i class="material-icons">keyboard_arrow_left</i> -->
    </button>
    <button class="start-btn"
            md-button
            routerLink="/game"
            routerLinkActive="active">
              <md-icon>play_circle_outline
              </md-icon> <strong> Start</strong>
    </button>
  </div>
  <div class="user-set">
    <button md-button><md-icon>home</md-icon>
    </button>
  </div>
</header>


  <div class ="sidenav">
    <div class="new-catalog-side">
      <md-input-container>
        <input type="text" #nameCatalog
               md-input placeholder="Новый каталог">
      </md-input-container>

          <a href="javascript: void(0)"
             (click)="addCatalog(nameCatalog.value);
             nameCatalog.value=''">
             <md-icon>add
              </md-icon>
          </a>
    </div>
  </div>

<div class="wrapper">
  <div md-content class="md-padding">
    <md-tab-group [selectedIndex]="0"
      class="tab-list"
      md-border-bottom>
      <md-tab label="select all">
        <div class="demo-tab tab{{$index%4}}"
             style="padding: 25px;
                    text-align: center;">
          <!-- <div class="content-list"> -->
            <ul *ngFor="let catalog of catalogs">
              <li *ngFor="let word of catalog.list">
                <span>{{ word.un }}</span>
                <span>{{ word.ru }}</span>
                <label class="action-icon"
                       for="modal-1"
                       (click)="wordEditForm(word)">
                         <md-icon>edit
                         </md-icon>
                </label>
                <label class="action-icon"
                   (click)="deleteWord(word);"
                   *ngIf="catalog && (catalog.id !== -1)">
                     <md-icon>delete
                     </md-icon>
                </label>
              </li>
            </ul>
          <!-- </div> -->
          <br/>
          <button md-button class="md-primary md-raised" >Remove Tab</button>
        </div>
      </md-tab>



      <md-tab *ngFor="let catalog of catalogs"
              label="{{catalog.name}}">
          <a href="javascript: void(0)" (click)="deleteCatalog(catalog)">delete</a>
          <label class="btn"
                 for="modal-1"
                 (click)="catalogEditForm(catalog)">Edit
          </label>
          <div class="demo-tab tab{{$index%4}}" style="padding: 25px; text-align: center;">
              <div class="create-word-group"
                   *ngIf="catalog && (catalog.id !== -1)">
                <input type="text" #wordEn>
                <input type="text" #wordRu>
                <a href="javascript: void(0)"
                   (click)="addWord(wordEn.value,wordRu.value,catalog.id);
                   wordEn.value='';
                   wordRu.value=''"
                   >addWord</a>
              </div>
            <div>
                <li *ngFor="let word of catalog.list">
                  <span>{{ word.un }}</span>
                  <span>{{ word.ru }}</span>
                  <label class="btn"
                         for="modal-1"
                         (click)="wordEditForm(word)">Edit
                  </label>
                  <a href="javascript: void(0)"
                     (click)="deleteWord(word);"
                     *ngIf="catalog && (catalog.id !== -1)">DeleteWord</a>
                </li>
            </div>
            <br/>
            <button md-button class="md-primary md-raised" >Remove Tab</button>
          </div>
      </md-tab>
    </md-tab-group>
  </div>
</div>






<!-- Модальное окно -->
<div class="modal">
  <input class="modal-open" id="modal-1" type="checkbox" hidden>
  <div class="modal-wrap" aria-hidden="true" role="dialog">
    <label class="modal-overlay" for="modal-1"></label>
    <!-- for catalog -->
    <div class="modal-dialog" *ngIf="editCatalog">
      <div class="modal-header">
        <h2>Редактирование каталога </h2>
        <label class="btn-close" for="modal-1" aria-hidden="true">×</label>
      </div>
      <div class="modal-body"
           *ngIf="editCatalog">
        <p>
          <input type="text"
                 placeholder="name"
                 [(ngModel)]="editCatalog.name">
        </p>

      </div>
      <div class="modal-footer">
        <label class="btn btn-primary"
               for="modal-1"
               (click)="updateCatalog(enableCatalog, editCatalog)">Сохранить
        </label>
      </div>
    </div>
     <!-- for word -->
    <div class="modal-dialog" *ngIf="editWord">
      <div class="modal-header">
        <h2>Редактирование слова</h2>
        <label class="btn-close" for="modal-1" aria-hidden="true">×</label>
      </div>
      <div class="modal-body"
           *ngIf="editWord">
        <p>
          <input type="text"
                 placeholder="en"
                 [(ngModel)]="editWord.un">
        </p>
        <p>
          <input type="text"
                 placeholder="en"
                 [(ngModel)]="editWord.ru">
        </p>
      </div>
      <div class="modal-footer">
        <label class="btn btn-primary"
               for="modal-1"
               (click)="updateWord(editWord)">Сохранить
        </label>
      </div>
    </div>

  </div>
</div>
<!-- Модальное окно(end) -->
