<header>
  <div class="navigation">
    <button class="back-btn"
            md-button
            (click)="goBack($event)">
              <md-icon>arrow_back
              </md-icon>
            <!-- <i class="material-icons">keyboard_arrow_left</i> -->
    </button>
    <button class="menu-btn"
            md-button
            (click)="showSidebar($event)">
              <md-icon>more_vert
              </md-icon>
            <!-- <i class="material-icons">keyboard_arrow_left</i> -->
    </button>
    <button class="start-btn"
            *ngIf="typeHeader == 'cat'"
            md-button
            routerLink="/game"
            routerLinkActive="active">
              <md-icon>play_circle_outline</md-icon>
              <strong> Go</strong>
    </button>
    <button class="start-btn"
            *ngIf="typeHeader == 'game'"
            md-button
            routerLink="/catalogs"
            routerLinkActive="active">
              <md-icon>play_circle_outline</md-icon>
              <strong> BD</strong>
    </button>
  </div>
  <div class="user-set">
    <button md-button>
      <md-icon>home</md-icon>
    </button>
  </div>
</header>
