md-icon.selec{
  opacity: 0.7;
  cursor: pointer;
}
md-icon.selec:hover{
  opacity: 1;
  color: blue;
  transition-duration: 0.2s;
}
.list{
  width: 60%;
  display:block;
  text-align:center;
  margin:0 auto
}
.line-edit{
  margin-top: 5px;
}
