<div class="wrapper">
  <div class="auth-box">
    <div class="input-box">
      <md-input-container class="input">
        <input type="text"
               #userEmail
               md-input placeholder="Email">
      </md-input-container>
      <br>
      <md-input-container class="input">
        <input type="text"
               #userPassword
               md-input placeholder="Password">
      </md-input-container>
    </div>
    <button md-button (click)="singin(userEmail.value, userPassword.value)">
      <md-icon>enter</md-icon>Вход
    </button>
    <button md-button (click)="register(userEmail.value, userPassword.value)">
      <md-icon>enter</md-icon>register
    </button>
  </div>
</div>
