<h1>{{catalogsNames}}</h1>
<div class="db-words">
  <div>
    <label>Ru</label> <input #wordRu />
    <label>En</label> <input #wordEn />
    <button (click)="add(wordRu.value, wordEn.value)">
      Add
    </button>
  </div>
  <ul class="list">
    <li *ngFor="let word of list"
    [class.selected]="word === selectedWord"
    (click)="onSelect(word)">
      <div [class.hidden]="word === selectedWord">
        <span class="badge">{{word.id}}</span>
        <span>{{word.un}}  </span>
        <span>{{word.ru}}</span>
      </div>
      <my-word-detail
        [word]="selectedWord"
        [class.hidden]="word !== selectedWord"
      ></my-word-detail>
      <button class="delete"
        (click)="delete(word); $event.stopPropagation()">x</button>
    </li>
  </ul>
</div>
<db-catalog (selectedCatalogsChanged)="upCatalogs($event)"
            (getCatalogsList)="catalogs = $event"></db-catalog>
